.feature_house{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 153, 81);    
    height: 40px;
    margin-top: 0.7%;
}
feature_house p{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

form input{
    display: block;
    margin-bottom: 10px;
    width: 60%;
    padding: 5px;
    outline-color: rgb(70, 69, 69);
    border: 1px solid grey;
    border-radius: 3px;
}

form button{
    background-color: rgb(66, 66, 204);
    padding: 8px 16px;
    border: none;
    border-radius: 2px;
    margin-top: 20px;
    color: white;
}